@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


body {
    font-weight: 400;
    font-family: roboto, arial;
}

/* Headings and logo*/

header {
    height: 75px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
}

.logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
    letter-spacing: 3px;
    line-height: 75px;
    color: #fdfdff;
}

/* Menu Navigation*/

.navigation-options {
    font-size: 140%;
    letter-spacing: 3px;
    line-height: 75px;

}

.navigation-options li {
    float: right;
    list-style-type: none;
    margin-left: 10px;
    padding-right: 5px;
}

.navigation-options a {
    text-decoration: none;
    color: #fdfdff;
}

.navigation-options a:hover {
    text-decoration: underline wavy;
    color: #A87A64;
}

/* hero image*/

#hero-section {
    margin-top: 30px;
    position: static;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#hero-image-about {
    font-size: 140%;
    font-family: roboto sans-serif;
    letter-spacing: 3px;
    text-align: center;
    line-height: 25px;
    width: 100%;
    height: 60px;
    background-color: #000000;
    padding-top: 15px;
    padding-left: 5px;
}

#hero-image-about h2 {
    color: #fdfdff;

}

/* benefits*/

.benefits-section {
    letter-spacing: 3px;
    font-weight: 200;
}

#benefits-background {
    height: 1114px;
    width: 100%;
}

#main-benefits,
#what-is-needed,
#recommended-locations,
#best-times {
    height: 50px;
    font-size: 100%;
    line-height: 50px;
    background-color: #A87A64;
    color: #fdfdff;
    font-family: quicksand, sans-serif;
    text-decoration: none;
    text-align: center;

}

#benefits-video {
    display: block;
    margin: 0 auto;
    width: 35%;
}

.benefits-box {
    background-color: #fdfdff;
    color: #000000;
    font-size: 80%;
    border: 3px solid #A87A64;
}

#benefits-top,
#benefits-bottom {
    text-align: center;
    padding: 2% 1%;
    margin: auto;
}

#benefits-video-2 {
    display: block;
    margin: 0 auto;
    width: 35%;
}

#benefits-top-ul,
#benefits-bottom-ul {
    text-align: center;
    line-height: 30px;
}

#benefits-top li {
    list-style-type: none;
    font-weight: 200;
}

#benefits-bottom li {
    list-style-type: none;
    font-weight: 200;
}

#benefits-bottom h3 {
    padding-bottom: 10px;
    font-family: quicksand sans-serif;
}
#benefits-research {
    text-align: center;
    padding: 2% 1%;
    margin: auto;
}

/* Equipment needed*/

.what-is-needed-section {
    letter-spacing: 2px;
    height: 1473px;
}

.what-is-needed-box {
    background-color: #fdfdff;
    color: #000000;
    font-size: 80%;
    border: 3px solid #A87A64;
}

#swimming-tips {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 20px;
}

#equipment {
    text-align: center;
    padding: 2% 1%;
    margin: auto;
}

#equipment ul {
    text-align: left;
    line-height: 30px;
    text-align: center;
}

#equipment li {
    list-style-type: none;
    font-weight: 200;
    text-align: center;

}

/*locations to swim */

#swimming-map {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 20px;
}

#locations {
    text-align: center;
    padding: 2% 1%;
    margin: auto;
}

#locations ul {
    text-align: left;
    line-height: 30px;
    text-align: center;
}

#locations li {
    list-style-type: none;
    font-weight: 200;
    text-align: center;
}

/* Times to swim table*/
#table caption {
padding: 20px 0px;
}

#table {
    margin: auto;
    width: 100%;
    padding: 20px;
    text-align: center;
}

/*form section*/

.contact {
    letter-spacing: 2px;
    width: 100%;
    background: url(../images/content-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.input-locations {
    height: 400px;
    width: 60%;
    left: 75px;
    top: 50px;
    background-color: rgb(168, 122, 100);
    color: #fdfdff;
    padding: 10px;
    margin: 75px 150px 75px 100px;
}

.form-input {
    width: 100%;
    height: 30px;
}

.form-submit {
    background-color: #000000;
    color: #fdfdff;
    font-size: 100%;
    text-align: center;
    margin: 20px 75px;
    border: solid 1px rgb(168, 122, 100);
    padding: 1%;
}

.form-submit:hover {
    text-decoration: underline wavy;
    color: #A87A64;
}


/* footer */

footer {
    height: 75px;
    background-color: #000000;
    bottom: 0px;
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
    color: #fdfdff;
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    padding: 1%;
    color: #fdfdff;
}

.social-networks li a {
    color: white;
}

/* Responsive design media queries */


@media only screen and (max-width: 650px) {

    #hero-image-about h2 {
        font-size: 80%;
        height: 75px;
        padding: 0px;
    }

    .what-is-needed-section {
        height: 1450px;
    }

    .benefits-section {
        height: 1000px;
    }
    
    #table .what-is-needed-box {
        padding: 0;
    }
}

@media only screen and (max-width: 850px) {

    header {
        height: 100px;
    }

    .logo {
        float: left;
        font-size: 110%;
        width: 100%;
        line-height: 50px;
    }

    /* Menu Navigation*/

    .navigation-options li {
        display: none;
    }

    .mobile-navigation-options {
        font-size: 140%;
        letter-spacing: 3px;
        line-height: 75px;
    }

    .mobile-navigation-options {
        clear: both;
        font-size: 60%;
        overflow: hidden;
        line-height: 25px;
        width: 100%;
    }

    .mobile-navigation-options li {
        float: left;
        margin-left: 10px;
        list-style-type: none;
    }

    .mobile-navigation-options a {
        text-decoration: none;
        color: #fdfdff;
    }

    .mobile-navigation-options a:hover {
        text-decoration: underline wavy;
        color: #A87A64;
    }

    /*Hero image*/

    #hero-image-about {
        height: 60px;
        width: 100%;
        font-size: 90%;
        padding-top: 5px;
    }

    #hero-image-about h2 {
        height: 60px;
        padding-bottom: 10px;
    }

    /*Benefits */

    #benefits-background {
        height: 950px;
    }

    #benefits-video {
        float: left;
        width: 100%;
        overflow: hidden;
    }

    #benefits-video-2 {
        float: left;
        width: 100%;
        overflow: hidden;
    }

    #main-benefits,
    #what-is-needed,
    #recommended-locations {
        height: 50px;
        width: 100%;
        font-size: 75%;
    }

    #benefits-top {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
    }

    #benefits-bottom {
        width: 100%;
        float: left;
        padding: 5px;
        margin: 0;
    }

    #benefits-bottom h3 {
        padding: 10px 0px;
    }

    /*What is needed*/


    #swimming-tips {
        float: left;
        width: 100%;
        padding-top: 20px;
        overflow: hidden;
    }

    #equipment {
        text-align: center;
        padding: 0px 10px;
        margin: auto;
    }

    #equipment h3 {
        padding-top: 10px;
    }

    #swimming-map {
        float: left;
        width: 100%;
        padding-top: 20px;
        overflow: hidden;
    }

    #locations h3 {
        padding-top: 10px;
    }

    #table {
        width: 100%;
        padding: 10px;
        clear: both;
        margin: 0;
        height: 75px;
    }

    /* Form */

    .input-locations {
        height: 400px;
    }

    .form-submit {
        margin: 20px 10px;
        padding: 1%;
    }

    .social-networks i {
        font-size: 50%;
    }

    .social-networks li a {
        font-size: 80%;
    }
}
@media only screen and (min-width: 850px) and (max-width: 1050px) {

    #hero-image-about {
        height: 75px;
        font-size: 90%;
    }

    #benefits-background {
        height: 990px;
    }

    #benefits-bottom h3{
        padding-bottom: 10px;
    }

    #swimming-tips {
        float: left;
        width: 100%;
        padding-top: 20px;
        overflow: hidden;
    }
    
    #benefits-video {
        float: left;
        width: 100%;
        overflow: hidden;
    }
    
    #benefits-video-2 {
        float: left;
        width: 100%;
        overflow: hidden;
    }

    #swimming-map {
        float: left;
        width: 100%;
        padding-top: 20px;
        overflow: hidden;
    }

    .what-is-needed-section {
        height: 1450px;
    }

    #table {
        width: 100%;
        padding: 50px 10px;
        clear: both;
        margin: 0;
        height: 75px;
    }
}

    @media only screen and (min-width: 850px) {
    
        .mobile-navigation-options li {
            display: none;
        } }

    @media only screen and (min-width: 1250px) {
        .what-is-needed-section {
            height: 1473px;
        }

        #benefits-background {
            height: 1114px;
        }
    }