@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-weight: 400;
    font-family: quicksand, arial;
}

/* Headings and logo*/

header {
    height: 75px;
    width: 100%;
    background-color: #000000;
}

.logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
    letter-spacing: 3px;
    line-height: 75px;
    color: #fdfdff;
}

/* Menu Navigation*/

.navigation-options {
    font-size: 140%;
    letter-spacing: 3px;
    line-height: 75px;
}

.navigation-options li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
}

.navigation-options a {
    text-decoration: none;
    color: #fdfdff;
}

.navigation-options a:hover {
    text-decoration: none;
    color: #A87A64;
}

/* hero image*/

#hero-section {
    position: relative;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#hero-image-about {
    font-size: 110%;
    font-family: noto+sans+jp, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    line-height: 25px;

    width: 100%;
    height: 50px;

    background-color: #000000;

    padding: 5px;
}

#hero-image-about h3 {
    color: #fdfdff;
    font-size: 100%;
    font-weight: thin;
    padding: 10px;

}

/* benefits*/

.benefits-section {
    letter-spacing: 3px;
    font-weight: 200;
}

#benefits-background {
    background-image: url(../images/benefits-background.jpg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: #000000;
}

#main-benefits,
#what-is-needed, #recommended-locations {
    height: 50px;
    font-size: 100%;
    line-height: 50px;

    background-color: #A87A64;
    color: #fdfdff;

    font-family: quicksand, sans-serif;
    text-decoration: none;
    text-align: center;

}

.benefits-box {
    background-color: rgb(168, 122, 100);
    color: #fdfdff;
    font-size: 80%;

    top: 150px;
}

#benefits-left {
    width: 30%;
    float: left;
    text-align: center;

    padding: 2% 1%;
    margin: 2%;
}

#benefits-right {
    width: 25%;
    float: right;
    text-align: center;

    padding: 1%;
    margin: 1%;
}

#benefits-left-ul,
#benefits-right-ul {
    text-align: left;
    line-height: 30px;
}

#benefits-left li {
    list-style-type: none;
    font-weight: 200;
}

#benefits-right li {
    list-style-type: none;
    font-weight: 200;
}



/* Equipment needed*/

.what-is-needed-section {
    letter-spacing: 2px;
    height: 225px;
}

.what-is-needed-box {
    background-color: rgb(168, 122, 100);
    color: #fdfdff;
    font-size: 80%;

    top: 150px;
}

#equipment  {
    width: 33%;
    float: left;
    text-align: center;

    padding: 0.5%;
    margin: 0.5%;
}

#equipment ul {
    text-align: left;
    line-height: 30px;
}

#equipment li {
    list-style-type: none;
    font-weight: 200;
}

/*locations to swim */

#locations {
    width: 33%;
    float: right;
    text-align: center;

    padding: 0.5%;
    margin: 0.5%;
}

#locations ul {
    text-align: left;
    line-height: 30px;
}

#locations li {
    list-style-type: none;
    font-weight: 200;
}

/* Times to swim table*/

#table {
    width: 30%;
    float: center;
    text-align: center;

    padding: 0.5%;
    margin: 0.5%;
}

/*form section*/

.contact {
    letter-spacing: 2px;
}
.input-locations {
    height: 350px;
    width: 40%;
    
    left: 100px;
    top: 50px;
    background-color: rgb(168, 122, 100);
    color: #fdfdff;

    padding: 10px;
    margin: 100px 150px;
    

}

.form-input {
    width: 100%;
    height: 30px;
}

.form-submit {
    background-color: #000000;
    color: #fdfdff;
    font-size: 100%;
    text-align: center;
    margin: 20px 100px;
    border: solid 1px rgb(168, 122, 100);
    padding: 2%;
}

.form-submit:hover {
    text-decoration: none;
    color: #A87A64;
    }

  
/* footer */

footer{
    height: 150px;
    background-color: #000000;
    color: white;
    bottom: 0px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}