@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: quicksand, sans-serif;
    font-weight: 400;
    color:#A87A64;
}

/* Headings and logo*/

#header {
    height: 75px;
    width: 100%;
    background-color: #000000;
    }

h1, h2 {
    font-family:noto+sans+jp,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fdfdff;
    ;
}

.logo {
    float:left;
    font-size: 300%;
    margin-left: 25px;
    }

/* Menu Navigation*/

.navigation-options {
    font-size: 110%;
    letter-spacing: 3px;
    }

.logo, .navigation-options {
    line-height: 75px;
}

.navigation-options li {
    float:right;
    list-style-type: none;
    margin-right: 30px;
   }

.navigation-options a {
    text-decoration: none;
    color: #fdfdff;
  }

/* hero image*/

#hero-section {
    position: relative;
}

#hero-image {
    height: 700px;
    width: 45%;
    background: url(../images/hero-image-1.webp) center center;
    border-style: none;
    margin: 0px 500px;
}

#hero-image-about{
    font-size: 110%;
    font-family:noto+sans+jp,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    width: 350px;
    height: 250px;

    padding-top: 50px;
    padding-left: 10px;

    background-color:#000000;

    bottom: 150px;
    right: 350px;

    position: absolute;
}

#hero-image-about > h3 {
    color: #fdfdff;
}
